@import "./fonts.css";
@import "tailwindcss";

:root {
	--font-sans:
		"iA Writer Quattro", -apple-system, BlinkMcSystemFont, sans-serif;
	--font-mono: "iA Writer Mono", monospace;
	--font-drawn: "Excalifont", -apple-system, BlinkMcSystemFont, sans-serif;

	--color-border: oklch(0.8234 0 0);

	--color-primary-50: oklch(97.08% 0.14 39);
	--color-primary-100: oklch(96.08% 0.14 39);
	--color-primary-200: oklch(94.8% 0.14 39);
	--color-primary-300: oklch(86.9% 0.14 39);
	--color-primary-400: oklch(70.9% 0.14 39);
	--color-primary-500: oklch(61% 0.14 39);
	--color-primary-600: oklch(57% 0.14 39);
	--color-primary-700: oklch(37.4% 0.14 39);
	--color-primary-800: oklch(26.8% 0.14 39);
	--color-primary-900: oklch(21.6% 0.14 39);
	--color-primary-950: oklch(14.7% 0.14 39);

	--color-surface-50: oklch(98.8% 0.0054 95.1);
	--color-surface-100: oklch(96.08% 0.0054 95.1);
	--color-surface-200: oklch(94.5% 0.0054 95.1);
	--color-surface-300: oklch(93% 0.0054 95.1);
	--color-surface-400: oklch(85% 0.0054 95.1);
	--color-surface-500: oklch(73.3% 0.0054 95.1);
	--color-surface-600: oklch(66.4% 0.0054 95.1);
	--color-surface-700: oklch(54.4% 0.0054 95.1);
	--color-surface-800: oklch(40.8% 0.0054 95.1);
	--color-surface-900: oklch(29.6% 0.0054 95.1);
	--color-surface-950: oklch(21.9% 0.0054 95.1);

	--color-typography-50: oklch(99.63% 0.039 21.78);
	--color-typography-100: oklch(96.08% 0.039 21.78);
	--color-typography-200: oklch(94.8% 0.039 21.78);
	--color-typography-300: oklch(86.9% 0.039 21.78);
	--color-typography-400: oklch(70.9% 0.039 21.78);
	--color-typography-500: oklch(57.63% 0.039 21.78);
	--color-typography-600: oklch(52% 0.039 21.78);
	--color-typography-700: oklch(37.4% 0.039 21.78);
	--color-typography-800: oklch(26.8% 0.039 21.78);
	--color-typography-900: oklch(21.6% 0.039 21.78);
	--color-typography-950: oklch(11.63% 0.039 21.78);

	--color-selection: rgb(from var(--color-primary-400) r g b / 0.3);
}

@theme {
	--font-drawn: var(--font-drawn);

	--color-border: var(--color-border);

	--color-primary-50: var(--color-primary-50);
	--color-primary-100: var(--color-primary-100);
	--color-primary-200: var(--color-primary-200);
	--color-primary-300: var(--color-primary-300);
	--color-primary-400: var(--color-primary-400);
	--color-primary-500: var(--color-primary-500);
	--color-primary-600: var(--color-primary-600);
	--color-primary-700: var(--color-primary-700);
	--color-primary-800: var(--color-primary-800);
	--color-primary-900: var(--color-primary-900);
	--color-primary-950: var(--color-primary-950);

	--color-surface-50: var(--color-surface-50);
	--color-surface-100: var(--color-surface-100);
	--color-surface-200: var(--color-surface-200);
	--color-surface-300: var(--color-surface-300);
	--color-surface-400: var(--color-surface-400);
	--color-surface-500: var(--color-surface-500);
	--color-surface-600: var(--color-surface-600);
	--color-surface-700: var(--color-surface-700);
	--color-surface-800: var(--color-surface-800);
	--color-surface-900: var(--color-surface-900);
	--color-surface-950: var(--color-surface-950);

	--color-typography-50: var(--color-typography-50);
	--color-typography-100: var(--color-typography-100);
	--color-typography-200: var(--color-typography-200);
	--color-typography-300: var(--color-typography-300);
	--color-typography-400: var(--color-typography-400);
	--color-typography-500: var(--color-typography-500);
	--color-typography-600: var(--color-typography-600);
	--color-typography-700: var(--color-typography-700);
	--color-typography-800: var(--color-typography-800);
	--color-typography-900: var(--color-typography-900);
	--color-typography-950: var(--color-typography-950);

	--spacing-header: calc(var(--spacing) * 14);
	--spacing-editor: calc(100% - var(--spacing-header));
}

html {
	height: 100%;
	background: var(--color-surface-100);
	color: var(--color-typography-950);
}

body {
	height: 100%;
}

#root {
	height: 100%;
}

::selection {
	background-color: var(--color-selection);
}
